table{
    margin: auto;
    text-align: center;
    font-size: 16px;
    margin-top: 50px;
    width: 50%;   
    background-color:rgba(137, 43, 226, 0.273);
}

tbody tr td{
    border: 1px solid rgba(128, 128, 128, 0.566);
}
th{
    border: 1px solid rgba(128, 128, 128, 0.868);
}

button{
    font-size: 17px;
    margin: auto;
color: blue;}
/* #b2{
    background-color: rgb(255, 66, 66);
}
#b1{
    background-color: rgb(255, 182, 47);
}
#b3{
    background-color: rgb(255, 182, 47);
} */