@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
}
body {
  
  font-family: "Montserrat", sans-serif;
}
.nav-item{
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
}
a.nav-item:hover, a.nav-item:active {
  color:black;
}
.movie{
  background: #272727;
  width: 250px;
  color: white;
  margin: 1rem;
  border-radius: 5%;
  box-shadow: 2px 2px 4px 4px#7c6565;
}
.movie img{
    max-width: 100%;
    border-radius: 5%;
}
.movie span , div{
  color: #9d8888;
}
.movie-container{
  background-color: #272727;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.movie-info{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}
.movie-info h6{
  margin: 0;
  color: white;
}
.about-container{
  background-color: #272727;
  color: rgb(240, 224, 224);
  margin: auto;
  text-align: center;
  padding: 30px;
  font-size: 20px;
}